/******************************************************************************/
/********************** BODY AND BASIC ELEMENT STYLINGS ***********************/
/******************************************************************************/
body {
  margin: 0px;
  font-family: monospace;
}

input,
button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  display: inline-block;
}

card {
  padding: 15px;
  display: block;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: scroll;
}
card::-webkit-scrollbar { display: none; }
card.unpadded { padding: 0px; }
card.unpadded header, card.unpadded section.card_body {
  width: calc(100% - 30px);
  padding: 15px;
}
card.unpadded header {
  font-size: 24pt;
  background-color: rgb(100, 100, 255);
  color: white;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img.expander {
  content:url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-128.png");
  width: 15px; height: 15px;
  margin-top: 5px; float: right;
  transform: rotate(0deg);
  transition: 0.15s ease;
}

/******************************************************************************/
/************** BLACKOUT ELEMENT OVERLAYED BEHIND DIALOG POP-UPS **************/
/******************************************************************************/
blackout {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  display: none;
}
blackout.open { display: block; }

/******************************************************************************/
/************* NAVIGATION BAR STYLINGS INCLUDING BUTTONS AND IMAGE ************/
/******************************************************************************/
menu#nav_bar {
  color: white;
  background-color: #444;

  height: 100%;
  width: 300px;
  display: inline-block;

  margin: 0; padding: 0;
}
menu#nav_bar img {
  width: 300px;
  height: 150px;
  cursor: pointer;
  background-color: #333;
}
menu#nav_bar a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 12pt;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
menu#nav_bar a:link    { color: white; }
menu#nav_bar a:visited { color: white; }
menu#nav_bar a:hover   { color: white; }
menu#nav_bar a:active  { color: white; }
menu#nav_bar a.current { background-color: #555; }

/******************************************************************************/
/**************** MAIN BODY STYLINGS STANDARD ACCROSS ALL PAGES ***************/
/******************************************************************************/
section#main_body {
  display: inline-block;
  vertical-align: top;
  margin-left: -7px;
  padding: 15px;

  width: calc(100% - 331px);
  height: calc(100% - 30px);

  background-color: #ccc;
}
section#main_body.unpadded {
  padding: 0px;
  width: calc(100% - 301px);
  height: 100%;
}

/******************************************************************************/
/******************* INFO CARDS AND EXPANDING LISTS STYLINGS ******************/
/******************************************************************************/

#info_cards { text-align: center; }
#info_cards * { text-align: left; }

#info_cards card {
  display: inline-block;
  vertical-align: top;
  max-height: calc(100% - 160px);
  min-height: 162px;
  width: calc(50% - 34px);
  margin-bottom: 10px;
}
/**********************************************************************/
/*Trying to make this a little more responsive to smaller window sizes*/
/**********************************************************************/
/*@media screen and (max-width: 1200px) {
  card {
    width: calc(100% - 30px);
    max-height: calc(100% - 435px);
  }
}*/
#info_cards card h2, card ul { margin-bottom: 5px; }
#info_cards card h2 { user-select: none; cursor: pointer; }
#info_cards card ul { padding: 0; list-style: none; }
#info_cards card ul.closed { display: none; }
#info_cards card label.closed img { transform: rotate(-90deg); }
#info_cards card ul li { padding: 5px 5px 5px 20px; margin: 0; }
/*#info_cards card ul li:not(:last-child) { margin-bottom: 0px; }*/
#info_cards card ul li:nth-child(odd) { background-color: #eee; }
#info_cards card ul li span { float: right; }
