/******************************************************************************/
/********************** BODY AND BASIC ELEMENT STYLINGS ***********************/
/******************************************************************************/
body {
  margin: 0px;
  font-family: sans-serif;
}

input,
button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  display: inline-block;
}

card {
  padding: 15px;
  display: block;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
card:not(.unpadded), card.unpadded section.card_body { overflow-y: scroll; }
card::-webkit-scrollbar, card *::-webkit-scrollbar { display: none; }
card.unpadded { padding: 0px; }
card.unpadded header, card.unpadded section.card_body {
  width: calc(100% - 30px);
  padding: 15px;
}
card.unpadded header {
  font-size: 24pt;
  background-color: #333;
  color: white;
}
card.unpadded .card_body { height: calc(100% - 100px); }

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/******************************************************************************/
/************************* DETAILS/SUMMARY STYLINGS ***************************/
/******************************************************************************/
details { margin-top: 20px; }
summary { outline: none; }
summary > :first-child {
  font-size: 18pt;
  font-weight: bold;
  height: 28px; max-height: 28px;
  width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
summary::-webkit-details-marker { display: none; }
summary::after {
  content: '\25B2';
  float: right;
  font-size: 1.35em;
  margin-top: 2.5px;
  transition: 0.15s ease;
}
details[open] summary::after {
  transform: rotate(180deg) translate(0, 0px);
}

/******************************************************************************/
/***************************** TABLE STYLINGS *********************************/
/******************************************************************************/
table {
  width: 100%; height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th:not(:first-child), td {
  border: 2px solid black;
}
th:not(:first-child), td:first-child {
  /*background-color: rgb(100, 100, 255);*/
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 16pt;
}
td { padding: 0; }
td:not(:first-child) {
  background-color: white;
  width: 22.5%; height: 18%;
  vertical-align: top;
}
th:not(:first-child), td:not(:first-child) { margin-left: -8px; }

td.past, td.co-op { background-color: #ccc; }
td.current { background-color: rgb(200, 255, 200); }
td.selected { background-color: lightblue; }

/******************************************************************************/
/************** BLACKOUT ELEMENT OVERLAYED BEHIND DIALOG POP-UPS **************/
/******************************************************************************/
blackout {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}
blackout.open { display: block; }

/******************************************************************************/
/************* NAVIGATION BAR STYLINGS INCLUDING BUTTONS AND IMAGE ************/
/******************************************************************************/
menu#nav_bar {
  color: white;
  background-color: #333;

  height: 100%;
  width: 300px;
  display: inline-block;

  margin: 0; padding: 0;
}
menu#nav_bar img {
  width: 300px;
  height: 150px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}
menu#nav_bar a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 12pt;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  user-select: none;
}
menu#nav_bar a:link    { color: white; }
menu#nav_bar a:visited { color: white; }
menu#nav_bar a:hover   { color: white; }
menu#nav_bar a:active  { color: white; }
menu#nav_bar a.current { background-color: rgba(255, 255, 255, 0.25); }
menu#nav_bar a[disabled] {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.25);
}

/******************************************************************************/
/**************** MAIN BODY STYLINGS STANDARD ACCROSS ALL PAGES ***************/
/******************************************************************************/
section#main_body {
  display: inline-block;
  vertical-align: top;
  margin-left: -7px;
  padding: 15px;

  width: calc(100% - 331px);
  height: calc(100% - 30px);

  background-color: #ccc;
}

/******************************************************************************/
/******************* INFO CARDS AND EXPANDING LISTS STYLINGS ******************/
/******************************************************************************/

#info_cards { text-align: center; }
#info_cards * { text-align: left; }

#info_cards card {
  display: inline-block;
  vertical-align: top;
  max-height: calc(100% - 160px);
  width: calc(50% - 38px);
  margin-bottom: 10px;
}
#info_cards card:first-child { margin-right: 10px; }

#info_cards card summary, card ul { margin-bottom: 5px; }
#info_cards card summary { user-select: none; cursor: pointer; }
#info_cards card ul, td ul { padding: 0; list-style: none; margin-right: 30px; }
#info_cards card ul li:not(.visible), td ul li { height: 28px; }
#info_cards card ul li, { padding: 5px 5px 5px 20px; margin: 0; }
#info_cards card ul li:nth-child(odd), td ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

#info_cards card ul li > div:first-child, td ul li div {
  height: 18px; max-height: 18px;
  width: calc(100% - 35px);
  max-width: calc(100% - 35px);
  overflow: hidden;
  display: inline-block;
  padding: 5px 0px 5px 5px;
  white-space: nowrap;
}
#info_cards card ul li span {
  float: right; margin: 4px 5px 5px 5px;
  user-select: none; cursor: pointer;
}
card summary, card ul { margin-bottom: 5px; }
card summary { user-select: none; cursor: pointer; }
card ul { margin-right: 30px; }
card ul li { margin: 0px; }


td ul li { padding: 0px; margin: 0px; }
td ul li button  {
  background-color: transparent; text-align: center;
  border: none; border-radius: 50%; padding: 0px;
  float: right; vertical-align: middle; cursor: pointer;
}
td:not(.current):not(.past):not(.co-op) ul li:hover button span { display: none; }
td:not(.current):not(.past):not(.co-op) ul li:hover button {
  color: transparent; background-color: #777; padding: 8px;
  background-image: url('http://limburglaan5.nl/wp-content/themes/limburglaan-child/images/icon_contact_header_close.png');
  background-size: 12px 12px; background-repeat: no-repeat; background-position: center;
}
td:not(.current):not(.past):not(.co-op) ul li:hover span:not(:first-child) { display: none; }

/*Progress Color Scheme*/
/*.completed_class {color: #228B22;}

.inprogress_class {color: #9b870c;}

.incomplete_class{color: #8b0000;}*/
